In [8]:
import os
import pandas as pd
pd.set_option('display.max_columns', 50)

In [9]:
folder="Datasets/"  # base folder having all datasets
files=os.listdir(folder)

for i,f in enumerate(files):
    if ".csv" not in f:
        files.pop(i)

r=0
df1=pd.read_csv(folder+files[r])   # read one dataset and remove it from the list to avoid redundancy
n=files[r].split('.')[0]
df1['Season']=n
#df1=df1.assign(Season=n)
print("len= ", len(df1))
files.pop(r)
df1.head()

len=  380

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Attendance,Referee,HS,AS,HST,AST,HHW,AHW,HC,AC,HF,AF,HO,AO,HY,AY,HR,AR,HBP,ABP,GBH,GBD,GBA,IWH,IWD,IWA,LBH,LBD,LBA,SBH,SBD,SBA,WHH,WHD,WHA,Season
0,E0,19/08/00,Charlton,Man City,4,0,H,2,0,H,20043,Rob Harris,17,8,14,4,2,1,6,6,13,12,8,6,1,2,0,0,10,20,2.00,3.0,3.2,2.20,2.9,2.7,2.20,3.25,2.75,2.20,3.25,2.88,2.10,3.2,3.10,0
1,E0,19/08/00,Chelsea,West Ham,4,2,H,1,0,H,34914,Graham Barber,17,12,10,5,1,0,7,7,19,14,2,3,1,2,0,0,10,20,1.47,3.4,5.2,1.60,3.2,4.2,1.50,3.40,6.00,1.50,3.60,6.00,1.44,3.6,6.50,0
2,E0,19/08/00,Coventry,Middlesbrough,1,3,A,1,1,D,20624,Barry Knight,6,16,3,9,0,1,8,4,15,21,1,3,5,3,1,0,75,30,2.15,3.0,3.0,2.20,2.9,2.7,2.25,3.20,2.75,2.30,3.20,2.75,2.30,3.2,2.62,0
3,E0,19/08/00,Derby,Southampton,2,2,D,1,2,A,27223,Andy D'Urso,6,13,4,6,0,0,5,8,11,13,0,2,1,1,0,0,10,10,2.00,3.1,3.2,1.80,3.0,3.5,2.20,3.25,2.75,2.05,3.20,3.20,2.00,3.2,3.20,0
4,E0,19/08/00,Leeds,Everton,2,0,H,2,0,H,40010,Dermot Gallagher,17,12,8,6,0,0,6,4,21,20,6,1,1,3,0,0,10,30,1.65,3.3,4.3,1.55,3.3,4.5,1.55,3.50,5.00,1.57,3.60,5.00,1.61,3.5,4.50,0

In [12]:
cols1=set(list(df1))   # get column names that are present in all datasets
for f in files:
    try:
        df2=pd.read_csv(folder+f)
        n=f.split('.')[0]
        #df2=df2.assign(Season=n)
        df2['Season']=n
        
        cols2=set(list(df2))
        cols1=cols1.intersection(cols2)
        print("F: ", f)
    except Exception as e:
        print(e)
        pass
cols1

F:  1.csv
F:  10.csv
F:  11.csv
F:  12.csv
F:  13.csv
F:  14.csv
F:  15.csv
F:  16.csv
F:  17.csv
F:  18.csv
F:  19.csv
F:  2.csv
Error tokenizing data. C error: Expected 57 fields in line 305, saw 72

Error tokenizing data. C error: Expected 57 fields in line 337, saw 62

F:  5.csv
F:  6.csv
F:  7.csv
F:  8.csv
F:  9.csv

{'AC',
 'AF',
 'AR',
 'AS',
 'AST',
 'AY',
 'AwayTeam',
 'Date',
 'Div',
 'FTAG',
 'FTHG',
 'FTR',
 'HC',
 'HF',
 'HR',
 'HS',
 'HST',
 'HTAG',
 'HTHG',
 'HTR',
 'HY',
 'HomeTeam',
 'IWA',
 'IWD',
 'IWH',
 'Referee',
 'Season',
 'WHA',
 'WHD',
 'WHH'}

In [13]:
# append all datasets together based on the columns identified
cols=list(cols1)
for f in files:
    try:
        df2=pd.read_csv(folder+f)
        n=f.split('.')[0]
        df2['Season']=n
        
        df1=df1[cols]   # selecting only common columns from the data
        df2=df2[cols]
        
        df1=pd.concat([df1, df2])
        print("F: ", f)
    except Exception as e:
        print(list(df2))
        print(e)
        pass
print(df1.shape)

F:  1.csv
F:  10.csv
F:  11.csv
F:  12.csv
F:  13.csv
F:  14.csv
F:  15.csv
F:  16.csv
F:  17.csv
F:  18.csv
F:  19.csv
F:  2.csv
['FTHG', 'IWA', 'AY', 'AR', 'FTR', 'IWD', 'HomeTeam', 'HST', 'AS', 'HTAG', 'HTHG', 'AST', 'HC', 'AwayTeam', 'HF', 'WHH', 'HY', 'Season', 'Referee', 'Date', 'WHA', 'WHD', 'FTAG', 'Div', 'IWH', 'AC', 'HS', 'HR', 'AF', 'HTR']
Error tokenizing data. C error: Expected 57 fields in line 305, saw 72

['FTHG', 'IWA', 'AY', 'AR', 'FTR', 'IWD', 'HomeTeam', 'HST', 'AS', 'HTAG', 'HTHG', 'AST', 'HC', 'AwayTeam', 'HF', 'WHH', 'HY', 'Season', 'Referee', 'Date', 'WHA', 'WHD', 'FTAG', 'Div', 'IWH', 'AC', 'HS', 'HR', 'AF', 'HTR']
Error tokenizing data. C error: Expected 57 fields in line 337, saw 62

F:  5.csv
F:  6.csv
F:  7.csv
F:  8.csv
F:  9.csv
(6749, 30)

In [14]:
df1=df1.dropna()  # drop rows having NANs if any
df1.head()

,FTHG,IWA,AY,AR,FTR,IWD,HomeTeam,HST,AS,HTAG,HTHG,AST,HC,AwayTeam,HF,WHH,HY,Season,Referee,Date,WHA,WHD,FTAG,Div,IWH,AC,HS,HR,AF,HTR
0,4.0,2.7,2.0,0.0,H,2.9,Charlton,14.0,8.0,0.0,2.0,4.0,6.0,Man City,13.0,2.10,1.0,0,Rob Harris,19/08/00,3.10,3.2,0.0,E0,2.20,6.0,17.0,0.0,12.0,H
1,4.0,4.2,2.0,0.0,H,3.2,Chelsea,10.0,12.0,0.0,1.0,5.0,7.0,West Ham,19.0,1.44,1.0,0,Graham Barber,19/08/00,6.50,3.6,2.0,E0,1.60,7.0,17.0,0.0,14.0,H
2,1.0,2.7,3.0,0.0,A,2.9,Coventry,3.0,16.0,1.0,1.0,9.0,8.0,Middlesbrough,15.0,2.30,5.0,0,Barry Knight,19/08/00,2.62,3.2,3.0,E0,2.20,4.0,6.0,1.0,21.0,D
3,2.0,3.5,1.0,0.0,D,3.0,Derby,4.0,13.0,2.0,1.0,6.0,5.0,Southampton,11.0,2.00,1.0,0,Andy D'Urso,19/08/00,3.20,3.2,2.0,E0,1.80,8.0,6.0,0.0,13.0,A
4,2.0,4.5,3.0,0.0,H,3.3,Leeds,8.0,12.0,0.0,2.0,6.0,6.0,Everton,21.0,1.61,1.0,0,Dermot Gallagher,19/08/00,4.50,3.5,0.0,E0,1.55,4.0,17.0,0.0,20.0,H

In [15]:
df1.to_csv("final_data.csv")   # save data as final csv file

In [16]:
df1.shape

(6618, 30)