In [1]:
import pickle
import numpy as np
import pandas as pd

In [77]:
home="Liverpool"
away="Chelsea"

In [78]:
with open("RandomForest.pkl", "rb") as input_file:
    clf = pickle.load(input_file)

with open("le_team.pkl", "rb") as input_file:
    le_team = pickle.load(input_file)

In [79]:
ht=le_team.transform([home])[0]
at=le_team.transform([away])[0]
at

12

In [80]:
df=pd.read_csv('preprocessed_data.csv')

In [81]:
vector=df.loc[(df['HomeTeam']==ht) & (df['AwayTeam']==at)]
vector=vector.drop('FTR',axis=1)
print(vector.shape)
vector.head()

(16, 16)

,Unnamed: 0,Date,HomeTeam,AwayTeam,HS,AS,HST,AST,HC,AC,HTR,WHH,WHD,WHA,diff_shots,diff_on_target
101,6094,2009-01-02,23,12,21.0,4.0,15.0,1.0,12.0,1.0,1,2.40,3.1,3.10,17.0,14.0
503,6602,2010-02-05,23,12,7.0,15.0,2.0,11.0,9.0,5.0,0,4.00,3.6,1.85,-8.0,-9.0
523,4899,2005-02-10,23,12,11.0,7.0,5.0,5.0,4.0,2.0,0,3.10,3.0,2.15,4.0,0.0
1337,4544,2002-06-10,23,12,12.0,8.0,8.0,0.0,3.0,1.0,1,1.83,3.2,3.75,4.0,8.0
1505,860,2010-07-11,23,12,9.0,11.0,7.0,7.0,2.0,5.0,2,3.75,3.1,2.10,-2.0,0.0

In [82]:
mean_cols=['HS','AS','HST','AST','HC','AC','HTR','WHH','WHD','WHA']
v1=[]
v1.append(ht)
v1.append(at)
for col in mean_cols:
    v1.append(np.mean(vector[col].values)+np.std(vector[col].values))
v1.append(v1[2]-v1[3])
v1.append(v1[4]-v1[5])
print("Vecotr: ", v1)

Vecotr:  [23, 12, 22.29922018086065, 13.184309562630105, 10.878287956398978, 7.133509561339238, 9.759601202601324, 6.168110065990377, 1.5386843774138907, 3.1594612662790627, 3.5510155231863405, 4.319814279492853, 9.114910618230546, 3.7447783950597398]

In [83]:
print(clf.predict_proba(np.array(v1).reshape(1,-1)))

[[0.25  0.465 0.285]]